
*.o
*.dll
*.lib
*.exe
Debug/
Release/
x64/
x86/
# Exclude all folders
*/

.vs/
.vscode/


vcpkg/

*.log
*.tlog
*.tmp
*.temp

blockchain_demo
blockchain_node
compile.bat
run_demo.bat

*.db
*.leveldb/

.vs/
*.user
*.filters
*.vcxproj

*.exe
*.dll

packages/

leveldb/


*.zip 